{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div id="header">
    <span class="logo">Сайт рецептов</span>
    {% if request.user.is_authenticated %}
        <ul class="menu">
            <li {% if section == 'dashboard' %}class="selected"{% endif %}>
                <a href="{% url 'random_recipes' %}">Главная</a>
            </li>
            <li {% if section == 'create_recipe' %}class="selected"{% endif %}>
                <a href="{% url 'recipeapp:create_recipe' %}">Создать рецепт</a>
            </li>
            <li {% if section == 'user_recipes' %}class="selected"{% endif %}>
                <a href="{% url 'recipeapp:user_recipes' request.user.id %}">Мои рецепты</a></li>

        </ul>
    {% endif %}
    <span class="user">
    {% if request.user.is_authenticated %}
        Привет, {{ request.user.first_name|default:request.user.username }},
        <a href="{% url 'logout' %}">Выйти</a>
    {% else %}
        <a href="{% url 'login' %}">Войти</a>
        <a href="{% url 'register' %}">Регистрация</a>
    {% endif %} 
    </span>
</div>
<div id="content">
    {% block content %}
    {% endblock content %}
</div>

</body>
</html>